<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор паролей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Подключение внешнего CSS -->
</head>
<body>
    <div class="container">
        <h1>Генератор паролей</h1>
        <form method="post">
            <button type="submit">Сгенерировать пароль</button>
        </form>
        {% if password %}
            <h2>Сгенерированный пароль: <span class="password">{{ password }}</span></h2>
        {% endif %}
    </div>
</body>
</html>
