<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор паролей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Генератор паролей</h1>
    <form method="POST">
        <label for="complexity">Выберите сложность пароля:</label><br>
        <input type="radio" id="simple" name="complexity" value="simple" checked>
        <label for="simple">Простая</label><br>
        <input type="radio" id="complex" name="complexity" value="complex">
        <label for="complex">Сложная</label><br><br>
        <button type="submit">Сгенерировать пароль</button>
    </form>

    {% if password %}
        <h2>Сгенерированный пароль: {{ password }}</h2>
    {% endif %}
</body>
</html>
